# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# ESP-IDF
build/
sdkconfig.old
sdkconfig.esp32*
managed_components/

# VS Code / IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python virtualenvs & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Binary blocklists & temporary swap files
*.bin
*.bin.sha256
*.tmp
*.new
